@model SistemaCadeteriaMVC.ViewModels.PedidoViewModel

<section class="flex w-full justify-center py-10 items-center bg-white">
  <form class="bg-white w-1/3" asp-controller="Pedido" asp-action="CrearPedido" method="POST">
    <h1 class="text-gray-800 font-bold text-2xl mb-7">Crear Pedido</h1>
    <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
      <input
        class="pl-2 outline-none border-none w-full"
        type="text"
        name="observaciones"
        id="observaciones"
        placeholder="@Html.DisplayNameFor(Model => Model.Observaciones)"
        value="@Model.Observaciones"
      />
    </div>
    <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
      <select id="estado" name="estado" class="pl-2 outline-none border-none w-full" placeholder="@Html.DisplayNameFor(Model => Model.Estado)">
        <option value="@Estado.SinAsignar">Sin Asignar</option>
        <option value="@Estado.Pendiente">Pendiente</option>
        <option value="@Estado.EnCurso">En Curso</option>
        <option value="@Estado.Entregado">Entregado</option>
      </select>
    </div>
    <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
      <input
        class="pl-2 outline-none border-none w-full"
        type="number"
        name="idCliente"
        id="idCliente"
        placeholder="@Html.DisplayNameFor(Model => Model.IdCliente)"
        value="@Model.IdCliente"
      />
    </div>
    <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
      <input
        class="pl-2 outline-none border-none w-full"
        type="number"
        name="idCadete"
        id="idCadete"
        placeholder="@Html.DisplayNameFor(Model => Model.IdCadete)"
        value="@Model.IdCadete"
      />
    </div>
    <button
      type="submit"
      class="block w-full bg-indigo-600 mt-4 py-2 rounded-2xl text-white font-semibold mb-2"
    >
      Crear Pedido
    </button>
  </form>
</section>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}