@model SistemaCadeteriaMVC.ViewModels.ClienteViewModel

<section>
  <h1 class="text-center">Editar cliente</h1>
  <form asp-controller="Cliente" asp-action="EditarCliente" method="POST" >
    <label asp-for="@Model.Nombre"> @Html.DisplayNameFor(Model => Model.Nombre) 
      <input name="nombre" type="text" value="@Model.Nombre">
    </label>
    <span class="form-control" asp-validation-for="@Model.Nombre"></span>

    <label asp-for="@Model.Direccion"> @Html.DisplayNameFor(Model => Model.Direccion) 
      <input name="direccion" type="text" value="@Model.Direccion">
    </label>
    <span class="form-control" asp-validation-for="@Model.Direccion"></span>

    <label asp-for="@Model.Telefono"> @Html.DisplayNameFor(Model => Model.Telefono)
      <input name="telefono" type="number" value="@Model.Telefono">
    </label>
    <span class="form-control" asp-validation-for="@Model.Telefono"></span>

    <label asp-for="@Model.Referencia"> @Html.DisplayNameFor(Model => Model.Referencia) 
      <input name="referencia" type="text" value="@Model.Referencia">
    </label>
    <span class="form-control" asp-validation-for="@Model.Referencia"></span>

    <input type="submit" value="Guardar cambios">
  </form>
</section>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}