@model SistemaCadeteriaMVC.ViewModels.ListaClientesViewModel

<div class="overflow-x-auto">
  <div class="min-w-screen min-h-screen bg-gray-100 flex items-center justify-center bg-gray-100 font-sans overflow-hidden">
    <div class="w-full lg:w-5/6">
      <div class="bg-white shadow-md rounded my-6">
        <table class="min-w-max w-full table-auto">
          <thead>
            <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
              <th class="py-3 px-6 text-center">Id</th>
              <th class="py-3 px-6 text-center">Nombre</th>
              <th class="py-3 px-6 text-center">Direccion</th>
              <th class="py-3 px-6 text-center">Telefono</th>
              <th class="py-3 px-6 text-center">Referencia</th>
              @if (Context.Session.GetString("rol") == "Administrador")
              {
                <th class="py-3 px-6 text-center">Acciones</th>
              }
            </tr>
          </thead>
          <tbody class="text-gray-600 text-sm font-light">
            @foreach (var cliente in Model.ListadoClientes!)
            {
              <tr class="border-b border-gray-200 hover:bg-gray-100">
                <td class="py-3 px-6 text-left whitespace-nowrap">
                  <div class="flex item-center justify-center">
                    <span class="font-medium">@cliente.Id</span>
                  </div>
                </td>
                  <td class="py-3 px-6 text-left">
                    <div class="flex item-center justify-center">
                      <span>@cliente.Nombre</span>
                    </div>
                  </td>
                  <td class="py-3 px-6 text-center">
                    <div class="flex item-center justify-center">
                      <span>@cliente.Direccion</span>
                    </div>
                  </td>
                  <td class="py-3 px-6 text-center">
                    <div class="flex item-center justify-center">
                      <span>@cliente.Telefono</span>
                    </div>
                  </td>
                  <td class="py-3 px-6 text-center">
                    <div class="flex item-center justify-center">
                      <span>@cliente.Referencia</span>
                    </div>
                  </td>
                  @if (Context.Session.GetString("rol") == "Administrador")
                  {
                    <td class="py-3 px-6 text-center">
                      <div class="flex item-center justify-center">
                        <div class="w-10 mr-2 transform hover:text-purple-500 hover:scale-110">
                          @Html.ActionLink("Editar", "EditarCliente", "Cliente", new { id = cliente.Id })
                        </div>
                        <div class="w-10 mr-2 transform hover:text-purple-500 hover:scale-110">
                          @Html.ActionLink("Eliminar", "EliminarCliente", "Cliente", new { id = cliente.Id })
                        </div>
                      </div>
                    </td>
                  }
              </tr>
            }
          </tbody>
        </table>
      </div>
      <a 
        class="bg-indigo-600 mt-4 py-2 px-4 rounded-2xl text-white font-semibold mb-2"
        asp-controller="Cliente" 
        asp-action="CrearCliente"
      >Crear Cliente</a>
    </div>
  </div>
</div>